@* Created using: dotnet new page --name WebDev --namespace razor_pages.Engineering --output Areas\Engineering\Pages *@
@page
@model razor_pages.Engineering.WebDevModel
@{
}

<h1>Greeting from the WebDev team</h1>